@import '../../styles/tools';

.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  margin: space(3) 0;
  padding: space(2) space(3);
  border-radius: 5px;

  label {
    font-weight: 900;
  }

  input {
    all: unset;
    width: 100%;
    border: none;
    font-weight: 500;
    margin: 0 space(1);
  }

  button {
    all: unset;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
